*.ybc
tmp.*
*.orig
*.rej
*.sw?
/Makefile.am
/Makefile.am.common
Makefile.in
Makefile
configure
configure.ac
*.tar.*
.dep
autodocs*
*.cache
*.m4
missing
install-sh
*.ami
YaST:Head/
home:*:*/
/testsuite/config/
testsuite/run/
/testsuite/*.exp
/testsuite/raw.tmp.*
/testsuite/yast2-network.*
/testsuite/*.log
/test-driver
/test/*.trs
/test/*.log
.yardoc
/coverage
*.pot
