[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Network;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=dsl

X-SuSE-YaST-Group=Network
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=write
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=dsl

Icon=yast-dsl
Exec=xdg-su -c "/sbin/yast2 dsl"

Name=DSL
GenericName=Configure a DSL connection
StartupNotify=true
X-SuSE-YaST-Keywords=dsl,vpn,pptp,pppoe,network
