[Desktop Entry]
Type=Application
Categories=Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=network

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=write
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=network

Icon=network
Exec=/sbin/yast2 network 

Name=Expert Network Configuration
GenericName=Configure network
Name[cs]=Expertní konfigurace sítě
GenericName[cs]=Konfigurovat síť
Name[de]=Netzwerkkonfiguration für Experten
GenericName[de]=Netzwerk konfigurieren
Name[es]=Configuración avanzada de red
GenericName[es]=Configurar la red
Name[hu]=Szakértő hálózati beállítások
GenericName[hu]=Hálózat beállítása
Name[it]=Configurazione di rete per esperti
GenericName[it]=Configura la rete
Name[ko]=전문가 네트워크 설정
GenericName[ko]=네트웍 설정
Name[nl]=Expert netwerk configuratie
GenericName[nl]=Configureer netwerk
Name[pt]=Configuração rede Especialista
GenericName[pt]=Configurar rede
Name[sk]=Expertné nastavenie siete
GenericName[sk]=Nastaviť sieť
Name[sv]=Expertinställningar av nätverk
GenericName[sv]=Ställ in nätverk
Name[bg]=Експертна настройка на мрежата
GenericName[bg]=Настройка на мрежата
Name[el]=Ρύθμιση Δικτύου για Ειδικούς
GenericName[el]=Ρύθμιση Δικτύου
Name[fr]=Configuration réseau pour experts
GenericName[fr]=Configurer le réseau
Name[ja]=高度なネットワークの設定
GenericName[ja]=ネットワークを設定する
Name[lt]=Sudėtinga tinklo konfigūracija
GenericName[lt]=Konfigūruoti tinklą
Name[sl]=Naprednejša nastavitev omrežja
GenericName[sl]=Nastavite Omrežje
Name[tr]=Uzman ağ yapılandırması
GenericName[tr]=Ağı yapılandır
