[Desktop Entry]
Type=Application
Categories=Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=provider

X-SuSE-YaST-Group=Network
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=write
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=provider

Icon=modem
Exec=/sbin/yast2 provider

Name=Providers
GenericName=Configure providers
Name[cs]=Poskytovatelé
GenericName[cs]=Konfigurovat poskytovatele
Name[de]=Provider
GenericName[de]=Provider konfigurieren
Name[es]=Proveedores
GenericName[es]=Configurar proveedores
Name[hu]=Szolgáltatók
GenericName[hu]=Szolgáltatók beállítása
Name[it]=Provider
GenericName[it]=Configura i provider
Name[ko]=서비스 제공자
GenericName[ko]=서비스 제공자 설정
GenericName[nl]=Configureer providers
Name[pt]=Provedores
GenericName[pt]=Configurar Provedores
Name[sk]=Poskytovatelia
GenericName[sk]=Nastavenie poskytovateľov
Name[sv]=Leverantörer
GenericName[sv]=Ställ in leverantörer
Name[bg]=Доставчици
GenericName[bg]=Настройка на доставчици
Name[el]=Παροχείς
GenericName[el]=Ρύθμιση Παροχέων
Name[fr]=Fournisseurs
GenericName[fr]=Configurer les founisseurs d'accès
Name[ja]=プロバイダ
GenericName[ja]=プロバイダを設定する
Name[lt]=Teikėjai
GenericName[lt]=Konfigūruoti tiekėjus
Name[sl]=Ponudniki
GenericName[sl]=Nastavite ponudnika
Name[tr]=Servis sağlayıcılar
GenericName[tr]=Servis sağlayıcıları yapılandır
