[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=remote

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=write
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=remote
X-SuSE-YaST-Keywords=vnc,network,remote

Icon=yast-remote
Exec=xdg-su -c "/sbin/yast2 remote"

Name=YaST Remote Administration
GenericName=Remote Administration (VNC)
Comment=Set up remote administration
StartupNotify=true
